{% extends 'base.html' %} {% block style %}
<style type="text/css">
   
  .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #f2f2f2;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timer {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 5px solid #28a745;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timer h1 {
    font-size: 30px;
    color: #28a745;
    margin: 0;
  }

  .paragraph{
    font-weight: bold;
    margin-bottom: 2rem;
  }
</style>
{% endblock style %} {% block content %}
<div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">

    <div class="text-center">
      <div class="paragraph text-center lead ">
        <p>{{paragraph}}</p>
      </div>
      <div class="circle my-3">
        <div class="timer">
          <h1>
            <span id="minutes">00</span>:<span id="seconds">00</span>:<span id="milliseconds" >00</span>
          </h1>
        </div>
      </div>
      <div class="d-flex justify-content-center my-3">
        <button class="btn btn-primary mr-2" id="record">Record</button>
        <button class="btn btn-danger mx-2" id="stop" disabled>Stop</button>
        <button class="btn btn-dark mx-2" id="reset">Reset</button>
        <button class="btn btn-success mx-2" id="check-fluency" disabled> Check Fluency</button>
      </div>
      <div class="text-center my-3 ">
        <div class="text-muted">Your Fluency : <span id="fluency-result">{{user_fluency}}</span></div>
      </div>
    
      <div class="d-flex justify-content-center my-3">
        <audio controls style="display: none" id="audio">
          <source src="" type="audio/ogg" />
          Your browser does not support the audio element.
        </audio>
      </div>
    </div>

</div>

<!-- Custom JS -->
<script type="text/javascript">
  // Timer
  const minutesSpan = document.getElementById("minutes");
  const secondsSpan = document.getElementById("seconds");
  const millisecondsSpan = document.getElementById("milliseconds");

  let totalMilliseconds = 0;
  let timerInterval;

  function startTimer() {
    timerInterval = setInterval(() => {
      totalMilliseconds += 10;
      const time = new Date(totalMilliseconds);
      minutesSpan.innerText = pad(time.getUTCMinutes());
      secondsSpan.innerText = pad(time.getUTCSeconds());
      millisecondsSpan.innerText = pad(
        Math.floor(time.getUTCMilliseconds() / 10)
      );
    }, 10);
  }

  function stopTimer() {
    clearInterval(timerInterval);
  }

  function resetTimer() {
    totalMilliseconds = 0;
    clearInterval(timerInterval);
    minutesSpan.innerText = "00";
    secondsSpan.innerText = "00";
    millisecondsSpan.innerText = "00";
  }

  function pad(value) {
    return value < 10 ? "0" + value : value;
  }

  // Audio
  let mediaRecorder;
  let chunks = [];

  const recordBtn = document.getElementById("record");
  const stopBtn = document.getElementById("stop");
  const resetBtn = document.getElementById("reset");
  const checkFluencyBtn = document.getElementById("check-fluency");
  const audioElem = document.getElementById("audio");
  const fluencyResult = document.getElementById("fluency-result");

  recordBtn.addEventListener("click", async () => {
    // chunks = [];
    console.log(chunks);
    startTimer();
    recordBtn.disabled = true;
    stopBtn.disabled = false;
     navigator.mediaDevices
      .getUserMedia({ audio: true })
      .then((stream) => {
        mediaRecorder = new MediaRecorder(stream);
        mediaRecorder.start();
        mediaRecorder.addEventListener("dataavailable", (event) => {
          chunks.push(event.data);
        });
        mediaRecorder.addEventListener("stop", () => {
          stopTimer();
          const blob = new Blob(chunks, { type: "audio/mp3" });
          console.log(blob);
          const audioURL = URL.createObjectURL(blob);
          audioElem.src = audioURL;
          audioElem.style.display = "block";
        });
      })
      .catch((err) => {
        console.log("Unable to access microphone: " + err);
      });
  });

  stopBtn.addEventListener("click", () => {
    recordBtn.disabled = false;
    stopBtn.disabled = true;
    checkFluencyBtn.disabled = false;
    mediaRecorder.stop();
  });

  resetBtn.addEventListener("click", () => {
    chunks = [];
    audioElem.src = "";
    audioElem.style.display = "none";
    URL.revokeObjectURL(audioElem.src);
    resetTimer();
    recordBtn.disabled = false;
    stopBtn.disabled = true;
    checkFluencyBtn.disabled = true;
  });

  async function wait(ms) {
    console.log("wait");
    return new Promise((resolve) => setTimeout(resolve, ms));
  }

  checkFluencyBtn.addEventListener("click", async () => {
    if (chunks.length === 0) {
      console.log("No recording found.");
      return;
    }
    fluencyResult.innerHTML = "Processing....";
    await wait(3000);
    const formData = new FormData();
    const audioBlob = new Blob(chunks, { type: "audio/mp3" });

    formData.append('audio', audioBlob);
    console.log(getCookie("csrftoken"));
    console.log(formData);

    // Send to backend
    fetch("/check_fluency", {
      method: "POST",
      body: formData,
      headers: { "X-CSRFToken": getCookie("csrftoken") , 
                  },
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data.fluency);
        fluencyResult.innerHTML = data.fluency;
      })
      .catch((error) => console.error(error));
  });

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
</script>

{% endblock content %}
