{% extends 'base.html' %}



{% block title %}
  Fluentify | Home
{% endblock title %}


{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">English Partner Finder</h1>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="text-center mb-4">
        <p class="lead">What would you like to do?</p>
      </div>
      <div class="text-center">
        <a href="{% url 'findparthner' %}" class="btn btn-warning btn-lg btn-block mb-3">Find Partner</a>
        <a type="button" class="btn btn-light btn-lg btn-block mb-3" data-toggle="modal" data-target="#updateInterestModal"> Update Interest </a>
        <a href="{% url 'check_fluency' %}" class="btn btn-success btn-lg btn-block mb-3">Check Fluency</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateInterestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Interest</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="update_interest_form" method="POST" action={% url 'update' %}>
          {% csrf_token %}
          <div class="form-group">
            <label for="interestsInput">Interests:</label>
            <input type="text" class="form-control" id="interestsInput" name="interestsInput" placeholder="Type your interests and press Enter">
            <div id="interestsContainer" class="border-0">
              {% if user1_interest|first %}
              {% for interest in user1_interest%}
              
                <div class="interestsBox ">
                  <span class="delete" onclick="deleteInterest(this)">{{interest}}</span>
                </div>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn ui-btn" onclick="submitForm()">Save Changes</button>
      </div>
    </div>
  </div>
</div>


<script>
  function submitForm() {
    const interestTags = document.querySelectorAll('.interestsBox');

    const interestNames = [];
    interestTags.forEach(tag => {
      interestNames.push(tag.textContent.trim());
    });
    const interests = interestNames.join(',');

    document.getElementById('interestsInput').value = interests;

    const interestForm = document.getElementById("update_interest_form")
    console.log(interestForm)
    interestForm.submit();
  }

  const interestsContainer = document.getElementById("interestsContainer");
  

  interestsInput.addEventListener("keydown", function (event) {
    if (event.code === "Enter") {
      event.preventDefault();
      const interest = event.target.value.trim();
      if (interest !== "") {
        const interestsBox = document.createElement("span");
        interestsBox.classList.add("interestsBox");
        interestsBox.innerHTML = `
        
        <span class="delete" onclick="deleteInterest(this)">${interest}</span>
      `;
        interestsContainer.appendChild(interestsBox);
        interestsInput.value = "";
      }
    }
  });

  function deleteInterest(element) {
    element.parentElement.remove();
  }

</script>
<!-- Link to Bootstrap 4 JavaScript file -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock content %}