#interestsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.interestsBox {
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin: 2px;
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 10px;
}

.interestsBox:hover {
    background-color: red;
    cursor: pointer;
}

.interestsBox:hover .delete {
    visibility: visible;
}

.delete {
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #212529;
}