.navbar-brand-logo{
    height: 50px;
}

.navbar-brand{
    padding: 0;
}

.navbar{
    padding: 8px 30px;
}

#interestsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.interestsBox {
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin: 2px;
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 10px;
}

.interestsBox:hover {
    background-color: red;
    cursor: pointer;
}

.interestsBox:hover .delete {
    visibility: visible;
}

.delete {
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #212529;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.timer {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 5px solid #28a745;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 8px 10px rgb(0 0 0 / 70%); */
}

.timer h1 {
    font-size: 30px;
    color: #28a745;
    margin: 0;
}

.paragraph {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2rem;
}